<footer>
    <div class="footer__wrapper">
        <div class="info__footer block">
            <nav>
                <ul>
                    <li>Офлайн образование</li>
                    <li>+800 555 35 35</li>
                    <li>info@mail.ru</li>
                    <li>Штыефпкфь</li>
                    <li>Telegram</li>
                </ul>
            </nav>
        </div>
        <div class="main__footer block">
            <nav>
                <ul>
                    <h2>Аккаунт</h2>
                    <li>Офлайн образование</li>
                    <li>+800 555 35 35</li>
                    <li>info@mail.ru</li>
                    <li>Штыефпкфь</li>
                    <li>Telegram</li>
                </ul>
            </nav>
        </div>
        <div class="account__footer block">
            <div>
                <nav>
                    <ul>
                        <h2>Аккаунт</h2>
                        <li>Офлайн образование</li>
                        <li>+800 555 35 35</li>
                        <li>info@mail.ru</li>
                        <li>Штыефпкфь</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="mail__footer block">
            <div class="mail__sender">
                <h2>Аккаунт</h2>
                <input type="text" class="footer__sender">
                <button><img src="" alt=""></button>
            </div>
        </div>
    </div>
</footer>
