<div class="banner">
    <div class="banner-info">
        <h1>Улучшите свою учебную программу с помощью онлайн-контента мирового уровня</h1>
        <p>Предоставление учащимся доступ к профессиональному онлайн-обучению с помощью INT42H</p>
        <p-button label="СВЯЗАТЬСЯ" styleClass="p-button-rounded" (click)="connect()"></p-button>
    </div>
    <img src="../../../assets/img/edu/begin3_home.png" alt="begin">
</div>
<div class="cards">
    <div class="card">
        <img src="../../../assets/img/edu/begin3_card1.png" alt="card-1">
        <h3>Предлагайте передовые учебные программы</h3>
        <p>Восполняйте пробелы в учебных планах, интегрируя онлайн-контент мирового уровня от ведущих университетов и отраслевых партнеров.</p>
    </div>
    <div class="card">
        <img src="../../../assets/img/edu/begin3_card2.png" alt="card-2">
        <h3>Расширение возможностей преподавателей</h3>
        <p>Продвигайте смешанное обучнение с помощью контента INT42H и проектов, оценок и курсов, созданных переподавателями.</p>
    </div>
    <div class="card">
        <img src="../../../assets/img/edu/begin3_card3.png" alt="card-3">
        <h3>Улучшить готовность к карьере</h3>
        <p>Подготовьте выпускников с помощью программ обучения на рабочем месте и более 70 профессиональных сертификатов от работадателей.</p>
    </div>
</div>
