<!--  -->


  <header class="header">
    <div class="header__wrapper">
      <div class="header__container container">
        <div class="header__body">
          <div class="header__main">
            <div class="header__logo">
              <p style="font-size: 0;"><a href=""><img src="assets/img/logo.png" alt="" class="int42h" routerLink="central-component"></a></p>
            
            </div>
            <div class="header__menu">
              <nav class="menu__body">
                <ul class="menu__list">
                  <li class="menu__item"><button pButton pRipple type="button" label="ШКОЛАМ" class="p-button-outlined"></button></li>
                  <li class="menu__item"><button pButton pRipple type="button" label="ОРГАНИЗАЦИЯМ" class="p-button-outlined"></button></li>
                  <li class="menu__item"><button pButton pRipple type="button" label="УНИВЕРСИТЕТАМ" class="p-button-outlined"></button></li>
                  <li class="menu__item"><button pButton pRipple type="button" label="СПИСОК КУРСОВ" class="p-button-outlined" routerLink="courses"></button></li>
                  <li class="menu__item"><button pButton pRipple type="button" label="БЛОГ" class="p-button-outlined"></button></li>
                  <li class="menu__item"><button pButton pRipple type="button" label="О НАС" class="p-button-outlined"></button></li>
                </ul>
              </nav>
            </div>      
          </div>
          <div class="header__actions actions-header">
            <div class="actions-header__item cart-header">
              <!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown> -->
              <button *ngIf="!firebaseService.isLoggedIn" pButton pRipple type="button" label="ВОЙТИ" ng class="p-button-outlined login" routerLink="login"></button>
              <button *ngIf="firebaseService.isLoggedIn" pButton pRipple type="button" label="профиль" ng class="p-button-outlined login" routerLink="login"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
<router-outlet></router-outlet>

<footer>
  <footer-component></footer-component>
</footer>