<div>
    <div class="wrapper">
        <div class="text__main">
            <h1>Умное образование</h1>
            <span>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non dolorem, autem reiciendis quibusdam mollitia consequatur similique sapiente quia nisi eos optio voluptatibus rem ut voluptates quaerat ad eaque in labore?
            </span>
            <button pButton pRipple type="button" label="НАЧАТЬ ОБУЧЕНИЕ" class="p-button-outlined"></button>
        </div>
        <div class="img__central ">
            <img src="/assets/img/mainslider/02.jpg" alt="">
        </div>
    </div>
</div>